*.aps
*.bak
*.cache
*.dbmdl
*.exe
*.ilk
*.lib
*.lib
*.log
*.ncb
*.obj
*.pch
*.pdb
*.sbr
*.scc
*.sdf
*.suo
*.tlb
*.tlh
*.user
*.vspscc
*_i.c
*_p.c
[Bb]in
[Db]ebug
obj
[Rr]elease
_ReSharper*
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
[Pp]ublish.xml
sql
"Import Script Logs"
PrecompiledWeb
connectionStrings.config
*.sass-cache
ipch